[2018-02-08 03:03] eNkru opened #1 "Upload photos"
![screenshot_linux](https://user-images.githubusercontent.com/13460738/35953459-a0875872-0ce9-11e8-9bca-880564b9beee.png)

[2018-02-08 03:28] #1 closed

[2018-10-07 09:33] raphaelvalentin opened #2 "FrameLess issue with gnome3"
Dear,
Very useful app ! However, I am meeting an issue with Ubuntu 16.04 Gnome3. Due to the actual config `frame:false`, I am disabled to move the window over my desktop. Actually, I solved the issue with a small FIX at:

[code]

Is it possible to have an argument at run like `electron-outlook --withframe `?
Thanks for your support,
Raphael.

[2018-10-07 21:17] eNkru commented on #2
The window can be dragged by the header on the very top of the window.

However, I'll consider to add an option to make the frame available :)

[2018-10-24 15:08] vigneshmarthandan opened #3 "Is there an OSX version?"
Is there an OSX version?

[2018-10-24 21:08] eNkru commented on #3
yup. It's electron app, can be build on any operation system. I am using it on my macbook pro at home.

If you have the development environment, just run the build command in the readme will create your macos version installers.

let me know if you can't build it and need my help :)

[2018-10-24 23:36] vigneshmarthandan commented on #3
Thanks for your response. I was able to build and run the app.

[2018-10-24 23:55] eNkru commented on #3
thanks to support :+1:

[2018-10-24 23:55] #3 closed

[2018-10-26 03:30] eNkru commented on #2
@raphaelvalentin an option is added into the tray right click menu to toggle the window frame

https://github.com/eNkru/electron-outlook/pull/6

[2018-10-26 03:30] #2 closed

[2018-12-13 16:07] julian-alarcon opened #9 "After close and reopen credentials needs to be set over again"
Credentials are always promt after closing the app and opening it.

[2018-12-13 19:55] eNkru commented on #9
@julian-alarcon the new electron version disable this feature for a security reason. I downgrade the electron to 3.0.6 to bring it back.

If you can control your desktop / laptop, feel free to use this feature. Otherwise, It might open a thread to allow other people get your credentials once they have fully access your OS.

[2018-12-13 19:55] #9 closed

[2018-12-13 19:56] eNkru commented on #9
will investigate the new way to save login credentials when get some time to spend :)

[2018-12-14 15:37] julian-alarcon commented on #9
Hi, I guess that this is my fault, there was no need to change the code.
https://github.com/eNkru/electron-outlook/commit/a22cdbb9691a34a4d1026a459e83e976de963d2e

Your initial setup was most restrictive and specific about the version, `~3.0.6`
The symbol ~ specify that version used will only change the last digit, 3.0.X
The symbol ^ specify that version used can be updated to next not breaking, 3

[2018-12-15 00:14] eNkru commented on #9
Thanks for the feedback. I'll take a look see if this app can migrate to Elelctron V4 Beta :)

[2019-02-26 06:38] probonopd opened #12 "Only a white screen when not connected to the internet"
Shows only a white screen when not connected to the internet:

![](https://raw.githubusercontent.com/AppImage/appimage.github.io/72f6ba06e9800e0268bb12bd6515fd4ccb565c28/database/Freelook/screenshot.png)

Reference:
https://github.com/AppImage/appimage.github.io/pull/1299

[2019-04-09 21:01] mikeroyal opened #13 "Snap package support [Feature Request]"
I was wondering if you might have an interest in making [snap package](https://snapcraft.io/) version. Also, your app would be promoted on the [snap store page](https://snapcraft.io/store).

[Crafting your first snap](https://tutorials.ubuntu.com/tutorial/create-your-first-snap#0)

[Build and test snap](https://snapcraft.io/build)

[Getting Started snap template](https://github.com/snapcrafters/fo

[2019-04-11 02:58] eNkru commented on #13
will find sometime to have a look. see if can be added into snap. Pull request also welcomed :)

[2019-06-07 17:25] 0lzi commented on #13
https://github.com/julian-alarcon/prospect-mail

This appears to be a renamed fork of this project and is available in the snapstore : [Prospect Mail](https://snapcraft.io/prospect-mail)

[2019-06-07 18:51] mikeroyal commented on #13
okay cool.

[2019-06-07 18:51] #13 closed

[2019-07-16 03:42] eNkru commented on #12
@probonopd finally got sometime to solve this :)

https://github.com/eNkru/freelook/releases/tag/v1.0.0

[2019-07-16 03:42] #12 closed

[2019-07-22 17:18] mattzuba opened #15 "To and CC boxes do not display selected recipients"
Screenshot to more accurately show. I'm using this on Office365.  Top portion of the screenshot show the email in Chrome, bottom shows it in this app.

![image](https://user-images.githubusercontent.com/1494713/61651072-f4326e00-ac69-11e9-9731-2fc5f4e8a99a.png)

[2019-07-22 19:40] kundeng opened #16 "support on-premise outlook deployment"
Can this be adapted to support on-premise outlook deployment?

[2019-07-22 21:24] eNkru commented on #16
This app is a wrapper to the offical online application. is your on-premise outlook have the online version looks similar to outlook.com or office.com?

[2019-07-22 21:41] eNkru commented on #15
I've tested my office365 account (office.com), it looks good.

![Screenshot from 2019-07-23 09-34-51](https://user-images.githubusercontent.com/13460738/61667285-b0a13800-ad2d-11e9-93c1-bd2357a719d3.png)

which operation system are you running? if possible, could you run the development mode, see if any error in the terminal console or chrome web console? (press F12) after the app running in dev m

[2019-07-23 17:44] kundeng commented on #16
yes, it looks very similar.  However,  it will perform an authentication redirect using our own AD/ldap.  I tried with your app,  once the authentication redirect is done, it comes back to microsoft login prompt and becomes a loop.

[2019-07-23 22:35] eNkru commented on #16
We are using office.com as our company email, we authenticate with our AD and do a redirect after that. all looks good.

if you could run this app with the dev mode. check if any error in the terminal console or the DevTools console.
You can press F12 to pop up the DevTools once running in dev mode.

Electron is using chromium as the core browser, shouldn't have any different with a real chrome.

[2019-07-24 07:29] LOHT03 opened #17 "Window remains white when redirecting"
When attempting to sign into my enterprise email using Freelook, after entering my email details, the screen goes white with the title bar `Redirecting...`. I am not sure if it's because a pop-up window was meant to appear and it can't be seen with the app, or something else.

![image](https://user-images.githubusercontent.com/48422312/61773469-1843aa00-ae38-11e9-9f49-5578653728bf.png)

When I log

[2019-07-24 22:06] eNkru commented on #17
@LOHT03 you are the second person to report this issue. Both of you are using a custom mail server. I am not sure what's the issue because I don't have an account to have a look.

Currently this app only support the outlook.com (original hotmail) & office.com (office365). You can switch the endpoint from the settings.
- https://outlook.live.com/mail
- https://outlook.office.com/mail

could you con

[2019-07-24 22:07] eNkru commented on #17
if it's possible (which I don't believe lol) could you share your account, I'll have a look what's going on there.

[2019-07-25 04:47] LOHT03 commented on #17
The mail server that my organisation is using is neither of the ones stated above; it is run on-premise at the organisation. If the app only works via those two endpoints, it is understandable that it would not work.

Unfortunately I can't share my account due to limitations, but I can confirm that when logging into the site from Chrome, a JavaScript popup is triggered asking for account details b

[2019-07-25 05:51] eNkru commented on #17
yup. `yarn run` is running the app in dev mode.

I still don't understand how that works in your organisation's email. what's the URL for your login page?

If neither of them in the list and you didn't modify the app code, how you actually login your credentials with those predefined login pages? The login page you've seen in the app won't able to accept your credentials.

If my assumption is corr

[2019-07-25 22:09] sabrehagen opened #18 "Config directory doesn't exist"
When starting the first time the `/home/$USER/.config/Freelook` directory does not exist.

[code]

[2019-07-25 23:33] eNkru commented on #18
This looks familiar. I've been fixed this for other Electron apps but not this one.

This only occurred first time when you run the app because the app setting directory not existing. You shouldn't see this anymore unless manually deleted the setting folder.

I'll log this and try to fix in the next version. Thanks for the reporting.

[2019-07-26 19:33] mattzuba commented on #15
I'm currently on Deepin 15.11.  Here's what I'm seeing in the dev tools window:

![image](https://user-images.githubusercontent.com/1494713/61976753-717b1d00-afa1-11e9-809b-2dac1e5781cc.png)

I notice that when I go to create a new message, when I enter the first name, it briefly shows up and then hides (my email will still send to them, I just can't see their name in the To box), but subsequent r

[2019-07-27 19:59] mattzuba commented on #15
Another observation - it works properly on the _old_ Outlook layout, but not on the new.

[2019-07-28 22:24] eNkru commented on #15
Electron is using the open source version of Chrome (Chromium), this might be a bug in the Chromium or Deepin.

The bug doesn't appear on my Arch Linux, I am guessing it shouldn't be a bug on the Chromium, so might because the Deepin Linux. Deepin Linux have quite deep modification on the UI and looks really awesome.

Just wondering if you have another linux distribution or try to use Gnome 3 on y

[2019-07-28 22:30] eNkru commented on #16
are you trying to login your on-premise email account with the login page in the app?

The login in the app is either for outlook.com or office.com, if your email server is private. You can't login with that page, because it's not your on-premise login window :)

Let me know the answer, I have a plan to allow user to customise the home page to what ever meaningful.

[2019-07-29 00:14] LOHT03 commented on #17
The organisation has a custom mail server to which we connect to. When accessed online, it uses the outlook web app but can be accessed with any mail client. It's an exchange account. I will take a look to see again if I can log in.

The URL for the login page can be directly accessed from office.com and logged in from there.

[2019-07-29 01:23] eNkru commented on #17
Could you share your URL of the mail window after login?

For example, after I login to my office.com it's redirect to my mail inbox, the URl is `https://outlook.office.com/mail/inbox`

Let me know what's yours

[2019-07-29 10:34] sier commented on #18
Can confirm, happens on first launch on macOS as well.

Something about the electron-settings being used outside of `app.on('activate', ()` seems to be causing it IIRC, since it tries to load in settings from a yet-to-exist directory.

[2019-07-29 22:15] eNkru commented on #18
yes. this is been confirmed that the setting folder isn't exist for the first time launch. then the app will create the folder. You shouldn't see this error again after the first launch.

will add a condition to fix this in the next release.

[2019-07-30 22:20] LOHT03 commented on #17
Is there a way I can share it with you directly? My organisation would rather not have it displayed publicly on this thread.

[2019-07-30 23:15] eNkru commented on #17
you can find my email or just left me a message from here -> https://enkru.github.io/

[2019-08-03 21:13] sier commented on #18
Something is up with settings.js and/or setting-controller (as well as css-injector.js).

Not quite sure what the specific issue is, but the electron-settings are messed up and used wrong somehow.

[2019-08-04 02:21] eNkru commented on #18
Hi @sier, please don't remove the features for electron settings. It support the customise the home urls for both hotmail and office.com users.

I know exactly how to fix this error just need some time to do it. I've got the same error in my other apps and already been fixed.

Please remove that part also remove the part for version change. It will be changed automatically when I doing the release

[2019-08-04 04:00] sier commented on #18
Hey @eNkru, edited it to only include the changes to the menu and package.json

Cheers!

https://github.com/eNkru/freelook/pull/19#pullrequestreview-270479815

[2019-08-04 21:08] eNkru commented on #18
@sier I've merged your change into master. Will work on the fix for this original issue :)

[2019-08-04 21:56] eNkru commented on #18
the error on the first start is fixed by the following commit.

https://github.com/eNkru/freelook/commit/c6287e33941f6f463d383edf9ac44acd352e9b8f

[2019-08-04 21:56] #18 closed

[2019-08-07 06:46] michaelarnauts commented on #17
I've also noticed this.
After entering my email address, I'm redirected to my company's AD. This shows a popup message where I have to fill in my credentials (like a basic auth dialog). This will then redirect back to microsoft.

I've found this recent commit on a fork that might fix this? Not sure. https://github.com/farooqu/freelook/commit/d6d13f3eed5ce0711922cda2836aa001cdb144e2

[2019-08-07 07:29] michaelarnauts commented on #17
More info why: https://github.com/electron/electron/blob/v1.2.8/docs/api/app.md#event-login

[2019-08-07 22:36] eNkru commented on #17
@michaelarnauts I've reviewed the fork and looks like it's a valid solution for browser basic auth. However I don't like what he created a form to capture username/password, then pass to the browser login event. I feel something not right to create a form to capture the password and passing around. (If you are using your own developed app, probably you won't mind).

I need think a better way to pa

[2019-08-09 23:00] michaelarnauts commented on #17
I've applied the fix to this codebase, and it works fine, but it's annoying that it doesn't remember my credentials. I need to enter them every time...

[2019-08-09 23:02] michaelarnauts commented on #17
@eNkru send me an email (check GitHub profile) and I can provide you with an email that asks for this kind of auth.

[2019-08-30 06:34] fla15 opened #20 "[request] offline support"
it's more helpful if we can using on the offline mod

[2019-09-02 02:20] eNkru commented on #20
It's quite difficult to implement the offline mode without the official support. To handle the data retrieved and stored local is not the goal of this project. Actually I started this project to avoid to store the confidential data to my local computer :)

If you are keen to keep the downloaded emails, I'd suggest to use one of the email client, such as evolution or thunderbird. they both support

[2019-09-03 21:57] #15 closed

[2019-09-04 06:53] #20 closed

[2019-09-04 08:10] fla15 opened #21 "AppImage don't working"
showing up just one sec in taskbar
tested with [appimagelauncher](https://github.com/TheAssassin/AppImageLauncher) and [libappimage](https://appimage.org/)
Manjaro KDE 4.19.66-1-MANJARO
KDE Plasma 5.16.4

[2019-09-04 21:36] eNkru commented on #21
I don't have the KDE environment. Just googled your issue and get the following. Looks like a electron.js issue with KDE Plasma.

See if you could solve it with the suggested answer.

https://github.com/electron/electron/issues/18261
https://www.reddit.com/r/kde/comments/aiafsr/global_menu_dont_work_only_in_one_specific/
https://forum.manjaro.org/t/solved-electron-global-menu-is-not-working-on-pla

[2019-09-30 10:19] Chinney opened #22 "Tray Icon not updating"
Hi!

I'm having a little problem with Freelook on Ubuntu 16.04:

For a few months now the tray icon is not updating anymore upon receiving a new email. It just stays the default icon. I tried to debug it myself without any progress. I have pulled the latest changes on master and compiled it myself. Although I can see that there were some changes made in the tray controller the problem remains.

An

[2019-09-30 21:24] eNkru commented on #22
A event listener is added to the UI component to check if the inbox have unread message. Microsoft's latest update changed the class value on that component, so that listener isn't working anymore :)

I'll update the value when got some time to make it shine again. However, we do need to find out a way to avoid this because they will change the value in the future again. I reckon, the value is reg

[2019-10-07 18:12] chrispittman commented on #15
For what it's worth, upgrading `electron` to "^6.0.11" and rebuilding the app fixes this for me.

[2019-10-07 20:29] eNkru commented on #15
good to know @chrispittman, I'll upgrade the electron to 6 :)

[2019-11-15 16:14] kundeng commented on #16
yes to on-premise outlook.   Please provide an option so that one can start with on-premise URI .

[2019-11-17 21:09] eNkru commented on #16
just wondering what's the url looks like? Also I am worrying about once open the input for the url, this will become a desktop shell for any web app :)

[2019-11-19 11:19] vsilvestre-accenture opened #23 "Can't run this app and Teams for linux at same time"
I think that as they are both electron based, they conflict..

[code]

[2019-11-19 11:20] vsilvestre-accenture commented on #23
My bad ! The icon of the other client was in icon tray reduced.. my bad !

[2019-11-19 11:20] #23 closed

[2019-12-21 09:55] bvdlingen opened #25 "addressees in To: field not visible"
Happy I stumbled upon this great app!

After using it a few days, I only discovered 1 minor issue:

When composing a new email or replying to an email the addresses in the To: field are not visible
They are there however; I am able to send the email

[2020-01-06 03:23] eNkru commented on #25
@bvdlingen if I remember correct, this issue is reported by another user with deepin Linux.

Could you let me know which distribution are you using and maybe a screenshot of the issue is helping.

I really couldn't reproduce it. I reckon it's something wrong with the UI CSS

[2020-01-09 15:10] bvdlingen commented on #25
Thanks for the follow up,

I am running [Solus](https://getsol.us/home/) Linux, with [Budgie desktop](https://github.com/solus-project/budgie-desktop) (based on GTK3)
The issue occurs on both work and private notebooks and desktops.

See this screenshot to illustrate the behaviour:
https://i.postimg.cc/434B7br3/Screenshot-from-2020-01-09-15-55-32.png

Making the screenshot I noticed the following:

[2020-01-09 15:28] bvdlingen commented on #25
I did some additional testing:

1. office 365 [theme settings](https://0x0.st/zRiT.png) don't make a difference
2. office 365 [display density](https://0x0.st/zRiT.png) settings don't make a difference
3. behaviour occurs with both prebuild appimage and self build appimage

[2020-01-09 21:05] eNkru commented on #25
@bvdlingen thanks for the feedback.

Could you run the app by using `yarn start` or `npm start`, and check if the issue still occur? then check if the terminal throw any error or the build in developer tools (contrl + shift + i) throw any error in the console? another testing is using Chrome with the web version, see if that also have this issue.

I am working wit the GNOME 3 and KDE plasma every

[2020-01-09 21:06] eNkru commented on #25
I reckon you will have the same issue in `yarn start`, but the chrome web all good.

That's what's been feedback by another user long times ago.

[2020-01-10 16:14] bvdlingen commented on #25
Wow that's interesting!

I didn't try that before, but when using ` yarn start` the issue does not occur.
Hence no error in the terminal.

[2020-01-12 21:08] eNkru commented on #25
That's strange. I used to work on the Ubuntu + Gnome and it was all good. Now I am switching to Fedora + Gnome 3, still couldn't reproduce the issue.

If `yarn start` doesn't have the issue, then the problem might caused by the Election builder when build the AppImage (some magics).

Another try is using the .deb package if you are on the Debian. Not familiar with Solus, see what package can suppo

[2020-01-12 22:35] dcioccarelli opened #26 "No spell checker :-("
It would be nice to have a spell checker integrated into the app. Kind of important with an e-mail client. See: https://www.npmjs.com/package/electron-spellchecker

[2020-01-13 02:35] eNkru commented on #26
Thanks for the advice :) I'll have a look see if it's possible to integrate the tools in.

[2020-01-15 04:05] eNkru commented on #26
@dcioccarelli thanks for this suggestion.

it's been implemented [here](https://github.com/eNkru/freelook/commit/db74e3d485992c720e42fcac89b0585012ebb048)

[2020-01-15 04:06] eNkru commented on #26
The spell checker is enabled 5 seconds after the window loaded. Assume you won't write anything in the first 5 seconds :)

[2020-01-15 16:38] dcioccarelli commented on #26
Excellent! Working as expected. Thanks a lot!

[2020-01-16 04:07] eNkru commented on #22
@Chinney it's been fixed with [this commit](https://github.com/eNkru/freelook/commit/5be6bfa06a11e0a37aa23e73b51ff8465676c4ca).

MS update the related class in their release, the hard coded query will break when the value changed. An setting entry is provided to configure the class value. The app requires restart to take the change.

Please find the relevant class for unread message div and update

[2020-01-16 04:07] #22 closed

[2020-01-27 11:18] KurtPattyn commented on #25
The same problem happens on my Ubuntu 18.04 installation.

[2020-02-05 08:58] Chinney commented on #22
Hey! Thanks alot! Unfortunately it seemed to have changed again. If you could tell me which UI Element exactly you're looking for I could fix it myself. I have tried quite a few but without success...

[2020-02-09 21:39] eNkru commented on #22
my one still using `_3Jn_7Iv4SwMTMOPJiydZLa` seems good for me.

![image](https://user-images.githubusercontent.com/13460738/74110449-a2dfd100-4bf1-11ea-9704-9505dc9fb5e1.png)

[2020-02-12 14:15] arthmoeros commented on #25
Hi!

Awesome tool, came here to report that this issue also happens on Manjaro 18.1.5 with Cinnamon.

[2020-02-12 22:26] eNkru commented on #25
really keen to fix this. as I couldn't reproduce this issue. appreciated if someone can always reproduce this issue find the root cause for me? to debug this issue, best run the app from the source code with `npm run start` or `yarn start`. The console will remain open to throw any error if occurred. also the developer tools of build in chromium can be enabled. see if any error in the console.

I

[2020-02-13 01:05] arthmoeros commented on #25
Just tried on a vm with Manjaro 18.1.5 with Cinnamon I have at home, reproduced the issue running directly from the source but no error in console 😕

[2020-02-13 10:02] Chinney commented on #22
Strange. It's working for me now too. Thanks!

Anyways, my question was aiming at finding out which modules class you inserted here (it is a css class right?)? I tried quite a few...

[2020-02-13 21:01] suoko opened #27 "Can we get other office apps this way?"
According to a MS Dev, most desktop apps of office suite are actually electron apps compiled for each os ( https://mobile.twitter.com/TheLarkInn/status/1006761134395834368 ).
Would it be just a question of a 'npm build dist' to have desktop apps for all?

[2020-02-13 22:21] eNkru commented on #22
You are correct. It's the class value of the number of unread emails beside the Inbox

![image](https://user-images.githubusercontent.com/13460738/74483674-c3729880-4f1b-11ea-9068-78774f35ef59.png)

The class value of the nubmer in the two Inbox are same, so either of them will work with new email notification :)

![image](https://user-images.githubusercontent.com/13460738/74483785-0af92480-4f1c-1

[2020-02-13 22:29] eNkru commented on #27
There is no such magic to convert the web application to a electron native app. You have to do some of the logic to load the web version into your electron app.

However, there is a way (actually I believe some apps already did) is just do a simple wrapper to the web application into the native app. so you are running the webpage inside your app.

It's not hard to do this. However when you try to

[2020-02-13 22:36] eNkru commented on #25
according the feedback, the email can be still send to the correct contact. So I reckon it's just a UI rendering issue. The contact is not visible in the right place.

If you familiar with the HTML and CSS, probably can find out why it's not visible from the follow source code.

![image](https://user-images.githubusercontent.com/13460738/74484740-0afa2400-4f1e-11ea-9ae1-1c07577ccb84.png)

I didn't

[2020-02-13 22:39] eNkru commented on #25
another thing to verify my guess is remove the vertical ads class value in setting and restart the app.

You will see the long vertical ads bar on the right side. Then check if you still having the issue :)

[2020-02-13 23:48] arthmoeros commented on #25
Ah!, I see, you may be on to something, I just set another class name for all ads and the issue no longer reproduces, both on the latest AppImage and from source.

I'm at an enterprise office365 subscription so no ads. Maybe that's why you can't reproduce it?

[2020-02-14 00:09] eNkru commented on #25
Thanks for trying out. I reckon we make some progress onto this. I'll change the way handling the ads blocker in the next few days.

[2020-02-16 19:09] suoko commented on #27
Other office apps (Excel, PowerPoint and word) do not care about notifications, the only custom function I can think of is file saving to local drive.
They could be ported (at least the 32bit versions) very very easily.
I'm not saying you should do it, but some body else at MS

[2020-02-16 20:15] eNkru commented on #27
Yes, it's pretty easy to shell a web application into electrion app.

[2020-02-25 14:13] Chinney commented on #22
Alrite, prefect, thank You!

[2020-03-10 20:55] #27 closed

[2020-04-29 11:08] madskonradsen commented on #17
It looks like what everyone else is doing. It ain't pretty, but it's kind of what can be done with the API that Electron provides.

[2020-04-30 08:11] madskonradsen commented on #17
I ended up doing the following, which is good enough just for my personal use.

main.js in initApp

[code]

[2020-05-18 12:23] dcioccarelli commented on #25
Hi all,

any update on this? Just a confirmation that it also happens for me and I'm using a corporate Outlook subscription. So must have something to do with the logic to hide the ads. It is a little bit frustrating and can lead to e-mails being sent to unintended recipients.

Best regards,
Dominic.

[2020-05-18 23:32] eNkru commented on #25
Hi @dcioccarelli, thank you to support the app.

There is a workaround for this issue. If you are using corporate outlook subscription, there shouldn't be any vertical ADs unit on the right side. What you can do is adding a invalid class name into the setting. The VERTICAL ADS CLASS is the one you looking for. Just type some random number inthere will do :)

![image](https://user-images.githubuser

[2020-05-22 11:36] AndresBott commented on #25
I can confirm that the workaround works for corporate outlook subscription. maybe add a note to the readme?
also add a note that to access the settings window right click on the system tray icon, (took me a good hour to find)
OS: ubuntu 18.04 LTS

[2020-05-22 12:28] dcioccarelli commented on #25
Hi @eNkru ! It worked. At first I just added random text in the vertical ads class and it didn't work. Only when I had added it to all three classes did it work.

Maybe add a checkbox to the UI for corporate users which automatically adds random text and disables the text entry boxes?

[2020-05-25 22:50] eNkru commented on #25
Thank you for the confirmation. I'll update the README

[2020-05-25 22:50] eNkru commented on #25
I'll re-arrange the setting panel layout for easy use :)

[2020-06-04 23:32] ajgringo619 opened #28 "[Feature Request] Handle mailto links"
I can set the app as my default mail program, but clicking on an email link just switches to the program (or opens it if necessary). Can this be added?

[2020-06-05 01:49] eNkru commented on #28
If you'd like the freelook work as the default email client and open the compose page when you click mailto: links in website. To be honest, I am not quite sure how to do it from the Elelctrion.js apps :(

Anyone see other election app did the trick, please point me the example. I might able to figure out the magic :)

[2020-06-05 01:52] ajgringo619 commented on #28
Thanks for the quick response! This is the first Linux email client that I've ever used that works flawlessly with Outlook; even their website (was using it before I found this project) would never last more than 24 hours without a hard crash, regardless of the browser.

[2020-06-05 02:02] eNkru commented on #28
thank you for the feedbacks which motivate me for this app :)

[2020-06-06 17:10] ajgringo619 opened #29 "Can't make any settings changes"
(Linux Mint 19.3 XFCE)
When I click on the tray icon, then select **Settings**, I cannot change any of the ad blocking values. I wanted to test the app without any ad blockers as I'm subscribed to Office 365 and don't get ads anymore anyways.

[2020-06-07 22:53] eNkru commented on #29
Normally you can just click to focus t he text input and typing something in it.

What's your setting UI looks like? could you share a screenshot?

I've attached my one.
![image](https://user-images.githubusercontent.com/13460738/83981910-58d7e380-a976-11ea-912b-31e4087c8ecd.png)

[2020-06-07 23:05] ajgringo619 commented on #29
I can select one of the settings, but I can't change any of the data.

![image](https://user-images.githubusercontent.com/53413561/83982087-6fc7f880-a8d8-11ea-9e09-ee79f5ff75e1.png)

[2020-06-07 23:12] eNkru commented on #29
those are default values. what if you just click to select and start typing?

[2020-06-07 23:14] ajgringo619 commented on #29
Nothing happens. I can't even highlight the text to cut/paste.

[2020-06-07 23:20] eNkru commented on #29
That's weird. Could you change the Home URL on the bottom? it's a dropdown(up) list contains two options.

Another question is, are you build your own package?

[2020-06-07 23:23] ajgringo619 commented on #29
Yes, I can change the home URL (at least the option is available).
No, I used the available deb.

[2020-06-08 00:15] eNkru commented on #29
That package is built a year ago. Do you keen to try this one

https://file.io/X1Ja2cqH

Let me know if you have the same problem

[2020-06-08 00:25] ajgringo619 commented on #29
Link doesn't work (404- file not found).

[2020-06-08 00:58] eNkru commented on #29
https://we.tl/t-0DYye2xYD9

try this one instead

[2020-06-08 01:03] ajgringo619 commented on #29
That did the trick - thanks! I changed all of the ads settings to a single space (it would not allow an empty entry) and it works just fine.

[2020-06-08 01:03] #29 closed

[2020-06-08 01:06] eNkru commented on #29
Thank you for the feedback. I reckon your previous issue is due to some old version, it's been year ago for the last release.

I might release a new version soon.

[2020-06-09 12:55] buggsdummy opened #30 "Feature Request: RPM Pkg request"
Please create a RPM package. Thanks!

[2020-06-09 23:35] eNkru commented on #30
here we go
https://github.com/eNkru/freelook/releases/tag/v1.0.1

[2020-06-09 23:35] #30 closed

[2020-06-09 23:36] eNkru commented on #21
could you try this new release

https://github.com/eNkru/freelook/releases/tag/v1.0.1

[2020-06-09 23:37] eNkru commented on #29
https://github.com/eNkru/freelook/releases/tag/v1.0.1

The updated package also available in the new release 1.0.1

[2020-06-11 18:07] ajgringo619 opened #31 "Window Stuck on Task Screen"
(Linux Mint 19.3, Freelook v1.01)
I accidently clicked on a task pop-up, took me to the edit screen of the task. I became stuck (in a maximized window), no way to go back to the original mail/calendar window. I exited the program, restarted, and was right back to the task window - again, stuck. After purging $HOME/.config/Freelook I was able to get back in.

I don't know if this issue existed in p

[2020-06-25 10:33] eev2 commented on #26
Hi. That's great but do you plan to add other languages or only US English?

[2020-06-25 23:43] eNkru commented on #26
Other languages can be supported. This is just a quick add for the request. Need to think how to configure the language, maybe in settings. The spellchecker can automatically detect the type in language and switch on the fly, but setting the default language has much better result.

What language do you need to support? I'd like to get a list.

[2020-06-26 00:00] eNkru commented on #31
I've noticed MS has some popup has no close button. such as when you double click the email, it will open in a fullscreen of that email and no UI to back to the list. For this instance I have to restart the app to bring it back :(

For the task pop up I reckon it's similar happens. I'll see if I could open a new window for popups. so at least it won't overwrite the window.

[2020-06-26 00:01] #28 closed

[2020-06-26 08:04] eev2 commented on #26
Cool, thanks. I think having the option would greatly benefit the software. I write mainly in UK English and sometimes in Greek, but I'm sure you will find people who write with different languages.

[2020-07-14 09:58] hovancik commented on #16
web access is like: example.com/owa

[2020-08-05 20:32] jackiecorn opened #34 "App always launches into the home page without signing in."
I have launched the app and signed in with no problem.
However when I quit the app and launch it again it doesn't automatically go to the logged in Inbox page, but instead shows the home page so I need to click Sign in again.

I'd like it to open the logged in page right away please.

[2020-08-05 20:59] jackiecorn commented on #34
I've fixed it by changing all references of "https://outlook.live.com/" to "https://outlook.office.com/"
As well as clearing user data and signing in again.
I guess I can close this issue.

[2020-08-05 20:59] #34 closed

[2020-08-05 23:28] eNkru commented on #34
outlook.live.com is for some old hotmail account which I am using at the moment. there is a option in setting you can pick to use live or office :)

[2020-08-05 23:31] jackiecorn commented on #34
Yep. Just found the setting for that.
I was looking hard for where the settings were and finally it in the system tray icon on mac.
Wish it was better explained in the readme though.
Thanks!

[2020-08-06 01:44] eNkru commented on #31
@ajgringo619, I've removed the logic to load the popup in same window. It should open a new window for those sort of things. But I couldn't find the example to verify. Could you reopen this issue if you still having the issue? Also be good if you can verify it's been fixed.

[2020-08-06 01:44] #31 closed

[2020-08-06 01:44] #21 closed

[2020-08-06 01:48] eNkru commented on #17
Above is a valid workaround for those third party auth. You could do the same to fix your authorisation issue. I still feel passing the password with clear text in the code logic is quite dangerous for a public repository and can be lead to wrong direction.

Free free do on your own computer because you have full control and protection.

Will close this now, and re-open this if you need some help.

[2020-08-06 01:48] #17 closed

[2020-08-06 01:51] eNkru commented on #16
There is a workaround solve this issue.

https://github.com/eNkru/freelook/issues/17#issuecomment-621684063

But I am not going to include this in the release app as it stores the clear text credentials in local computer. Feel free to do this as far as you have your protection for your own computer.

[2020-08-06 01:51] #16 closed

[2020-08-06 02:26] eNkru commented on #25
Finally this issue should be fixed. I couldn't reproduce the error anymore. Feel free to re-open this ticket if you still having the issue.

[2020-08-06 02:26] #25 closed

[2020-08-11 16:54] tidux opened #35 "Bug: changing endpoint to self-hosted OWA does not work in UI"
This works by closing the application, editing the Settings file manually, and restarting the application, so the other endpoints do appear to be supported.

[2020-08-12 02:37] eNkru commented on #35
Currently only two pre-defined urls are in the settings. What endpoints do you want to include? don't want to expose that to a text field and it will become just a wrapper of any website.

[2020-08-12 02:58] tidux commented on #35
Unfortunately I can't say, since it's not a public website.

Sent from ProtonMail mobile

-------- Original Message --------
On Aug 11, 2020, 19:37, Howard J wrote:

[2020-08-12 03:01] eNkru commented on #35
yea, I reckon you might want to modify either the setting files in your disk or you change the code slightly and build your own version.

It's in this file
https://github.com/eNkru/freelook/blob/master/src/view/setting.html

Just add one more entry with your company server url
`
            <div class="menu">

                <div class="item">https://outlook.live.com/mail</div>
                <d

[2020-08-16 07:43] karthick-kk opened #36 "Login not persistent"
Login is not persistent across reboot. I have to re-login every time open the app.

[2020-08-17 02:16] eNkru commented on #36
electron.js is using local storage to save the user data for the embedded chromium. It should work unless you have issues to store data in your local.

Freelook is using the default location, if you are on linux check if the following folder exists

`~/.config/Freelook`

The following article explains how the electron app store user data

https://medium.com/cameron-nokes/how-to-store-user-data-in-

[2020-08-17 06:24] karthick-kk commented on #36
I can see the files are getting created and updated.

![image](https://user-images.githubusercontent.com/1493364/90363445-64cfd800-e080-11ea-977c-0fbb90187629.png)

[2020-08-26 20:11] jctaillandier commented on #25
Same fix for non-corporate outlook (hotmail.com) on Ubuntu 18.04. Cheers folks

[2020-08-26 20:14] jctaillandier commented on #25
Adding invalid class to first field only doesn't do it for non-corporate accounts (hotmail.com) on ubuntu 18.04, but I added in all 4 fields  and it seems to do the trick!

[2020-08-27 23:15] eNkru commented on #25
could you try my last commit. It should fix the issue and you don't need to do this workaround anymore.

[2020-08-27 23:33] jctaillandier commented on #25
Confirmed last commit fixes with 0 such field change, cheers!

[2020-09-02 09:16] sect2k commented on #36
@karthick-kk had the same or similar issue, login would not persist. What resolved it was changing default "home" in settings to "outlook.office.com", since I have a Outlook365 (work) account.

It's been working fine since. Hope this helps.

[2020-09-03 13:30] doki-nordic commented on #26
Spell checker suggestions from context menu did not work for me. I fixed it in my fork. See last commit in following branch:

https://github.com/doki-nordic/freelook/commits/spell-check-menu-fix

[2020-09-08 20:08] luisrdzruiz commented on #36
Same issue for me.

SO> Fedora 32
Freelook Version> 1.0.1

[2020-09-09 02:16] eNkru commented on #36
are you using outlook.office.com or outlook.live.com?

check if sect2k's suggestion fix for you

[2020-09-19 00:49] luisrdzruiz opened #37 "No new mail notification"
OS: Fedora 32
Freelook Ver: 1.0.1

when receive new mail don't show notification.

[2020-09-21 21:55] eNkru commented on #37
MS changed the unread div class every time when they do a new release. That's why I make the lookup class configurable.

Could you please check what's the value you put into that configuration? the following is mine.

![image](https://user-images.githubusercontent.com/13460738/93825600-b12eb900-fcb9-11ea-8f42-94a19f3053e2.png)

[2020-09-22 09:59] roggenbrot commented on #37
I think the problem is the check against the aria-label and the configured language.

If the configured language is not english, the following check will fail

[code]

since `Unread` will be translated to configured language (e.g. for german aria-label will be `Ungelesen ....`)

The only thing which should work for each configured language is searching for div's with a left border (Unread message)

[2020-09-22 22:05] eNkru commented on #37
good to know that. this class value will change anytime when Microsoft update outlook.com

It's been changed a few times in the passed.

I'll have a look if there is a better solution for that

[2020-09-23 06:05] roggenbrot commented on #37
Wouldn't it be easier to use the count of unread messages directly from the navigation bar instead trying to parse all messages?

![image](https://user-images.githubusercontent.com/41467575/93972383-7b014000-fd72-11ea-9828-08282e0ef1ff.png)

The mutation observer callback should already contain the span element that contains the count of unread messages, so it wouldn't even be necessary to parse t

[2020-09-23 06:24] roggenbrot commented on #37
Maybe i found a even better way, that would also remove the need for the span class name at all.

Every time a new mail is received, Outlook will perform multiple request to fetch the new mail, notification sound .....

![image](https://user-images.githubusercontent.com/41467575/93974159-b7826b00-fd75-11ea-9ffa-e8eaef912cf4.png)

In electron it's possible to register a callback for webrequests: ht

[2020-09-23 07:10] roggenbrot commented on #37
I think it might be even possible to intercept the subscription response, to receive also the email body, but I haven't found out yet if the push is done via websocket or a SSE.

Request executed to create the push seems to be same as described in https://docs.microsoft.com/en-us/previous-versions/office/office-365-api/api/version-2.0/notify-rest-operations

[2020-09-23 15:09] roggenbrot commented on #37
Just reconized that outlook uses fabric ui. Notifications/Callouts in fabri ui are rendered in special div, so it's also possible to add a observer to this area to receive email subject, body ....

[code]

[2020-09-27 22:26] eNkru commented on #37
listen to the newmail.mp3 sounds very hacky for me and I reckon it might not working in the variate user settings. I am quite like your fabric ui solution. Could you make a pull request? and I'll test on the hotmail account see if that works. Many thanks.

[2020-09-29 07:09] roggenbrot commented on #37
I think i found a even better solution. In the browser you are able to enable desktop notifications in the settings

![image](https://user-images.githubusercontent.com/41467575/94524178-89e46880-0232-11eb-9340-bdfc75a86e54.png)

This feature is disabled in the electron app because of the missing/wrong user-agent header.

![image](https://user-images.githubusercontent.com/41467575/94524397-d6c83f00

[2020-10-06 02:18] eNkru commented on #37
@roggenbrot have you changed this solution in the PR? I still see the previous observer in the PR. Let me know when you change it, I'll merge it in with your spell checking logic as well.

[2020-10-07 05:47] roggenbrot commented on #37
The outlook desktop notification do not work as I expected.

![grafik](https://user-images.githubusercontent.com/41467575/95291581-1a90f900-0870-11eb-9fda-86c5d9828209.png)

They only show notifications when outlook is closed, but browser is still open.

In my local test it just worked because firefox was still running, so it was firefox that showed the notification, not electron :(

So back to ob

[2020-10-10 10:22] roggenbrot commented on #37
Finished the pull request. Can someone test if the notifications for emails/reminders also work on hotmail?

[2020-10-23 21:10] hookumsnivy commented on #37
I'm having the same problem:
KDE Neon 5.19
Freelock v1.0.1

The span appears to be correct:
![image](https://user-images.githubusercontent.com/3420717/97054267-805cd080-1552-11eb-91ed-9b5872ab6f8b.png)

The intention is to show a system notification, right?

[2020-10-26 09:51] roggenbrot commented on #37
@hookumsnivy You can try the pull request if this will fix your problems (I could also create a AppImage of the pull request)

I've also fixed a bug in the pull request that caused settings to reset on next startup

[2020-11-19 21:55] sspade1 commented on #36
Is there a setting to change to get this in ~/.config/Freelook/Settings or ~/.config/Freelook/Preferences ?
I still have "homepageUrl":"https://outlook.live.com/mail" in ~/.config/Freelook/Settings with using regular outlook.com

[2020-12-23 17:35] caseyjhol commented on #36
Can confirm this worked for me (with a work account).

[code]

[2021-09-08 00:01] Colmanetti opened #43 "Problem do Login in Work account"
Hello ,

My organization have a redirect to insert a username / password of yours intranet. But the app dont ask for it, like the browser . Anyone has any ideas how to resolve this ? And just go to blank white screen

[2021-09-08 22:15] eNkru commented on #43
Any screenshot? I remembered we've got this request long times ago, and it's been solved. I'd like to see more in details.

[2021-10-07 23:09] #26 closed

[2021-10-07 23:13] eNkru commented on #36
I reckon it's been solved. Reopen it if still have the issue

[2021-10-07 23:13] #36 closed

[2021-11-23 14:10] aegagros commented on #43
I have the same issue; no screenshot to post other than a blank white screen. It may be a proxy issue on my case. Any way to manually/explicitly specify a connection proxy?

[2021-11-24 02:23] eNkru commented on #43
@aegagros no proxy setting at this stage. I'll have a look to add the proxy support

[2021-12-08 16:52] caseyjhol opened #49 "Calendar opening in browser"
Previously, it was possible to view the Outlook calendar in Freelook. Now it launches the browser when selecting. This seems like a recent change (within the past few weeks). Obviously this is something on Microsoft's side - but is there anything that can be done to restore the previous behavior?

[2021-12-10 14:40] caseyjhol commented on #49
After a restart this issue seems to be resolved. :shrug:

[2021-12-10 14:40] #49 closed

[2022-01-11 10:39] jhakonen commented on #43
@Colmanetti and @aegagros can you try my PR #48, see if that would help you.

[2022-01-12 00:16] Colmanetti commented on #43
@jhakonen I resolve my problem . I will make a PR with my solution

[2022-01-12 00:38] Colmanetti commented on #43
@jhakonen It`s works perfectly. I test , and pop up an new window to put username and password for SSO.

@aegagros  You can try , i think u dont need proxy support.

[2022-01-12 00:38] #43 closed

[2022-01-12 08:17] aegagros commented on #43
I tried to build from your repo but it fails; could it be because I have node v10.19.0 in ubuntu 20.04? I am not very familiar with node development tbh, and its a company pc which I have very little update capabilities.

In any case, I will monitor this PR until merged, and will use the prebuilt deb package. Thanks for that!

[2022-01-12 12:44] jhakonen commented on #43
Yeah, node v10 will not cut it, even running `npm i` fails to error `Error: Cannot find module 'fs/promises'`.
You'll need to use node v14 or newer.

I think you can install newer version using these instructions:
https://github.com/nodesource/distributions/blob/master/README.md#installation-instructions

Personally, I'm using nvm (https://github.com/nvm-sh/nvm) to switch between node versions, bu

[2022-09-19 15:32] DenisBY opened #50 "Right mouse click does nothing"
I expected it should open a menu with standard features like copy/paste, etc. Especially useful for links.

[2022-10-02 20:40] keirak420 opened #56 "NPM Err on NPM i"
I have looked everywhere and I am unable to find a solution. Would someone please assist? Ubuntu 22.04.1 LTS (jammy)

~/Downloads/git/freelook$ npm i
npm WARN deprecated electron-osx-sign@0.6.0: Please use @electron/osx-sign moving forward. Be aware the API is slightly different
npm ERR! code 1
npm ERR! path /home/xxxx/Downloads/git/freelook/node_modules/keyboard-layout
npm ERR! command failed
npm

[2022-10-02 22:21] eNkru commented on #56
I've seen this error on the Github action as well.

I am currently using MacOS for development, will see if can setup a virtual machine for ubuntu. Meantime if someone can fix this for me, please raise a PR. Thanks

[2022-10-03 09:15] eNkru commented on #56
if you look at the error details, actually the following line cause the problem

`npm ERR! ../src/keyboard-layout-manager.h:7:10: fatal error: X11/Xlib.h: No such file or directory`

that means the ubuntu you installed don't have the libx11 lib. Also there is another lib missing, run following command to install the missing libs will allow the electron to build the keyboard-layout.

`sudo apt inst

[2022-10-03 09:15] #56 closed

[2022-10-03 09:16] eNkru commented on #56
some logs for this issue

[code]

[2022-11-10 09:14] rollno748 opened #61 "Creating a Meeting/Event directs me to browser"
Creating a new Meeting/Event directs me to browser and not within the app.

OS: Ubuntu
version: 20
Architecture:            x86_64
  CPU op-mode(s):        32-bit, 64-bit
  Address sizes:         39 bits physical, 48 bits virtual
  Byte Order:            Little Endian
CPU(s):                  8
  On-line CPU(s) list:   0-7
Vendor ID:               GenuineIntel
  Model name:            11th Gen Int

[2022-11-10 09:15] rollno748 commented on #50
I echo @DenisBY issue. It has to be a basic feature for the app.

[2022-11-23 19:12] danielbgto opened #62 "Links inside e-mail are not opened."
I'm unable to open links which are in the mails body.